.CreateTodoButton {
    background-color: #e94c20;
    /* box-shadow: .125rem .3125rem 1.5625rem rgba(250, 171, 97, 0.5); */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    font-weight: 600; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    z-index: 1;
    font-size: 3.125rem;
   color: #FAFAFA;
   z-index: 4;
    
    transform: rotate(0);
    transition: .3s ease;
  }
  




.CreateTodoButton:hover{
animation: rotando .3s ease ;
}

  
  @keyframes rotando {
    
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
 
  }


  